body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #87CEEB;
    background-image: url('nubes.jpg');
    background-repeat: repeat-x;
    background-position: top;
}

.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
}

.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px; /* Aumento de separación entre los elementos */
    margin-bottom: 20px;
}

.diamond-block, .pig, .zombie {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ground {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.ground-block {
    flex: 1 0 auto;
    height: 100px;
    cursor: pointer;
}

#diamond {
    width: 100px;
    height: 100px;
}

#pig {
    width: 130px;
    height: 130px;
}

#zombie {
    width: 150px;
    height: 150px;
}
